<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cherrydev.cherrymarketbe.reviewLike.repository.ReviewLikeMapper">
    <resultMap id="ReviewLiketMapper" type="com.cherrydev.cherrymarketbe.reviewLike.entity.ReviewLike">
        <result property="likeId" column="GOODS_REVW_LIKE_ID"/>
        <result property="reviewId" column="GOODS_REVW_ID"/>
        <result property="userId" column="ACNT_ID"/>
    </resultMap>

    <!-- ==================== INSERT ==================== -->
    <insert id="save" useGeneratedKeys="true"
            parameterType="com.cherrydev.cherrymarketbe.reviewLike.entity.ReviewLike">
        <selectKey keyProperty="likeId" keyColumn="GOODS_REVW_LIKE_ID" resultType="Long" order="AFTER">
            SELECT MAX(GOODS_REVW_LIKE_ID) FROM GOODS_REVW_LIKE
        </selectKey>
        INSERT INTO GOODS_REVW_LIKE
        (GOODS_REVW_LIKE_ID,GOODS_REVW_ID,ACNT_ID)
        VALUES (#{likeId},#{reviewId},#{userId})
    </insert>

    <!-- ==================== DELETE ==================== -->
    <delete id="delete" parameterType="com.cherrydev.cherrymarketbe.reviewLike.entity.ReviewLike">
        DELETE
        FROM GOODS_REVW_LIKE
        WHERE GOODS_REVW_ID = #{reviewId}
          AND ACNT_ID = #{userId}
    </delete>


    <!-- ==================== SELECT ==================== -->
    <select id="existLike" resultType="java.lang.Boolean">
        select count(*)
        from GOODS_REVW_LIKE
        where GOODS_REVW_ID = #{reviewId}
          AND ACNT_ID = #{userId}
    </select>

    <select id="countLike" resultType="Long">
        select count(*)
        from GOODS_REVW_LIKE
        WHERE GOODS_REVW_ID = #{reviewId}
    </select>

</mapper>
