<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.cherrydev.cherrymarketbe.goods.repository.GoodsMapper">
    <resultMap id = "goodsRegistrationMap" type = "com.cherrydev.cherrymarketbe.goods.dto.GoodsRegistrationDto">
        <result property = "goodsId" column = "GOODS_ID"/>
        <result property = "makerId" column = "MAKR_ID"/>
        <result property = "categoryId" column = "CTGRY_ID"/>
        <result property = "goodsCode" column = "GOODS_CODE"/>
        <result property = "goodsName" column = "GOODS_NM"/>
        <result property = "description" column = "GOODS_DC"/>
        <result property = "discountId" column = "GOODS_DSCNT_ID"/>
        <result property = "price" column = "GOODS_PRICE"/>
        <result property = "retailPrice" column = "GOODS_SPLPC"/>
        <result property = "inventory" column = "GOODS_INVTRY"/>
        <result property = "storageType" column = "GOODS_CSTDY_TY"/>
        <result property = "capacity" column = "GOODS_CPCY"/>
        <result property = "expDate" column = "GOODS_EXPR_DE"/>
        <result property = "allergyInfo" column = "GOODS_ALLERGY_INFO"/>
        <result property = "originPlace" column = "GOODS_ORGPLCE"/>
        <result property = "salesStatus" column = "GOODS_SEL_STTUS"/>
        <result property = "createDate" column = "CREAT_DE"/>
        <result property = "updateDate" column = "UPDT_DE"/>
    </resultMap>

    <insert id = "save" parameterType = "com.cherrydev.cherrymarketbe.goods.dto.GoodsRegistrationDto">
        insert into GOODS
        values (null, #{makerId}, #{categoryId}, #{goodsCode}, #{goodsName}, #{description}, #{discountId}, #{price}, #{retailPrice}, #{inventory}, #{storageType}, #{capacity},
                #{expDate}, #{allergyInfo}, #{originPlace}, #{salesStatus}, now(), now())
    </insert>

    <select id = "findAll" resultMap = "goodsRegistrationMap">
        select *
        from GOODS
    </select>

    <select id = "findBasicInfo" resultType="com.cherrydev.cherrymarketbe.goods.dto.GoodsBasicInfoDto" parameterType="long">
        select G.GOODS_ID, G.GOODS_NM, G.GOODS_PRICE, D.DSCNT_RATE
        from GOODS G
                 left join DSCNT D on G.GOODS_DSCNT_ID = D.DSCNT_ID
        where G.GOODS_ID = #{goodsId}
    </select>

        <delete id = "deleteById" parameterType = "Long">
            delete
            from GOODS
            where GOODS_ID = #{goodsId};
        </delete>
</mapper>
