<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cherrydev.cherrymarketbe.server.infrastructure.repository.cart.CartMapper">

    <resultMap id="cartResultMap" type="com.cherrydev.cherrymarketbe.server.domain.cart.entity.Cart">
        <result property="cartId" column="CART_ID"/>
        <result property="quantity" column="CART_QY"/>

        <association property="goods" javaType="com.cherrydev.cherrymarketbe.server.domain.goods.dto.ToCartResponse">
            <result property="goodsId" column="GOODS_ID"/>
            <result property="goodsName" column="GOODS_NM"/>
            <result property="goodsCode" column="GOODS_CODE"/>
            <result property="price" column="GOODS_PRICE"/>
            <result property="inventory" column="GOODS_INVTRY"/>
            <result property="storageType" column="GOODS_CSTDY_TY"/>
            <result property="salesStatus" column="GOODS_SEL_STTUS"/>
            <result property="discountRate" column="DSCNT_RATE"/>
        </association>
    </resultMap>

    <select id="existsByAccountIdAndGoodsId" resultType="boolean">
        SELECT COUNT(*) > 0
        FROM CART
        WHERE ACNT_ID = #{accountId} AND GOODS_ID = #{goodsId}
    </select>

    <select id="findGoodsIdByCartId" resultType="long">
        SELECT GOODS_ID
        FROM CART
        WHERE CART_ID = #{cartId}
    </select>

    <select id="findCartsByAccountId" parameterType="Long" resultMap="cartResultMap">
        select
            cart.CART_ID,
            goods.GOODS_ID,
            goods.GOODS_SEL_STTUS,
            goods.GOODS_NM,
            goods.GOODS_CODE,
            goods.GOODS_CSTDY_TY,
            cart.CART_QY,
            goods.GOODS_PRICE,
            goods.GOODS_INVTRY,
            tossDiscount.DSCNT_RATE
        from  CART cart
                  join GOODS goods on cart.GOODS_ID = goods.GOODS_ID
                  left join DSCNT tossDiscount on goods.GOODS_DSCNT_ID = tossDiscount.DSCNT_ID
        where ACNT_ID = #{accountId};
    </select>

    <select id="findByCartId">
        select *
        from CART
        where CART_ID = #{cartId}
    </select>


    <insert id="save" parameterType="com.cherrydev.cherrymarketbe.server.domain.cart.entity.Cart">
        insert into CART (ACNT_ID, GOODS_ID, CART_QY, CREAT_DE, UPDT_DE)
        values (#{accountId}, #{goods.goodsId}, #{quantity}, now(), now())
    </insert>


    <update id="update" parameterType="com.cherrydev.cherrymarketbe.server.domain.cart.entity.Cart">
        update CART
        SET CART_QY = #{quantity}, UPDT_DE = now()
        WHERE CART_ID = #{cartId};
    </update>

    <delete id="delete">
        delete
        from CART
        where CART_ID = #{cartId}
    </delete>

</mapper>
