<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cherrydev.cherrymarketbe.server.infrastructure.repository.admin.CouponMapper">
    <resultMap id="couponMap" type="com.cherrydev.cherrymarketbe.server.domain.admin.entity.Coupon">
        <result property="id" column="COUPON_ID"/>
        <result property="code" column="COUPON_CODE"/>
        <result property="type" column="COUPON_TY"/>
        <result property="minimumOrderAmount" column="COUPON_MIN_AMOUNT"/>
        <result property="discountAmount" column="COUPON_DSCNT_RATE"/>
        <result property="startDate" column="COUPON_BGNDE"/>
        <result property="endDate" column="COUPON_ENDDE"/>
        <result property="createdAt" column="CREAT_DE"/>
        <result property="updatedAt" column="UPDT_DE"/>
    </resultMap>
    <resultMap id="couponInfoMap" type="com.cherrydev.cherrymarketbe.server.domain.admin.dto.response.CouponInfo">
        <result property="code" column="COUPON_CODE"/>
        <result property="type" column="COUPON_TY"/>
        <result property="minimumOrderAmount" column="COUPON_MIN_AMOUNT"/>
        <result property="discountAmount" column="COUPON_DSCNT_RATE"/>
        <result property="startDate" column="COUPON_BGNDE"/>
        <result property="endDate" column="COUPON_ENDDE"/>
    </resultMap>

    <insert id="save" parameterType="com.cherrydev.cherrymarketbe.server.domain.admin.entity.Coupon">
        insert into COUPON (COUPON_CODE,
                            COUPON_TY,
                            COUPON_MIN_AMOUNT,
                            COUPON_DSCNT_RATE,
                            COUPON_BGNDE,
                            COUPON_ENDDE)
        values (#{code},
                #{type},
                #{minimumOrderAmount},
                #{discountAmount},
                #{startDate},
                #{endDate})
    </insert>

    <delete id="delete" parameterType="com.cherrydev.cherrymarketbe.server.domain.admin.entity.Coupon">
        delete
        from COUPON
        where COUPON_ID = #{id}
    </delete>

    <select id="findAll" resultMap="couponInfoMap">
        select COUPON_CODE,
               COUPON_TY,
               COUPON_MIN_AMOUNT,
               COUPON_DSCNT_RATE,
               COUPON_BGNDE,
               COUPON_ENDDE
        from COUPON
        ORDER BY COUPON_ID
    </select>

    <select id="findAllByType" parameterType="com.cherrydev.cherrymarketbe.server.domain.admin.enums.CouponType">
        select *
        from COUPON
        where COUPON_TY = #{type}
        ORDER BY COUPON_ID
    </select>

    <select id="findIdByCode" resultType="java.lang.Long">
        select COUPON_ID
        from COUPON
        where COUPON_CODE = #{code}
    </select>

    <select id="findById" parameterType="java.util.List" resultMap="couponInfoMap">
        SELECT COUPON_CODE, COUPON_TY, COUPON_MIN_AMOUNT, COUPON_DSCNT_RATE, COUPON_BGNDE, COUPON_ENDDE FROM COUPON
        WHERE COUPON_ID IN
        <foreach item="id" collection="couponIds" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="existByCode" resultType="java.lang.Boolean">
        select count(*) > 0
        from COUPON
        where COUPON_CODE = #{code}
    </select>
</mapper>
