<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cherrydev.cherrymarketbe.inquiryAnswer.repository.InquiryAnswerMapper">
    <resultMap id="inquiryAnswerMap" type="com.cherrydev.cherrymarketbe.inquiryAnswer.entity.InquiryAnswer">
        <result property="answerId" column="INQRY_ANSWER_ID"/>
        <result property="inquiryId" column="INQRY_ID"/>
        <result property="memo" column="INQRY_ANSWER_MEMO"/>
        <result property="content" column="INQRY_ANSWER_CN"/>
        <result property="createDate" column="CREAT_DE"/>
    </resultMap>

    <!--    INSERT-->
    <insert id="save" useGeneratedKeys="true"
            parameterType="com.cherrydev.cherrymarketbe.inquiryAnswer.entity.InquiryAnswer">
        <selectKey keyProperty="answerId" keyColumn="INQRY_ANSWER_ID" resultType="Long" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO INQRY_ANSWER (INQRY_ID, INQRY_ANSWER_MEMO, INQRY_ANSWER_CN)
        VALUES (#{inquiryId},#{memo},#{content})
    </insert>


    <!--   UPDATE -->
    <update id="updateStatue" parameterType="com.cherrydev.cherrymarketbe.inquiryAnswer.entity.InquiryAnswer">
        UPDATE INQRY
        <set>
            INQRY_ANSWER_STTUS = 'COMPLETE',
        </set>
        WHERE INQRY_ID = #{inquiryId}
    </update>

    <update id="updateStatusAccepting" parameterType="com.cherrydev.cherrymarketbe.inquiryAnswer.entity.InquiryAnswer">
        UPDATE INQRY
        <set>
            INQRY_ANSWER_STTUS = 'ACCEPTING',
        </set>
        WHERE INQRY_ID = (SELECT INQRY_ID FROM INQRY_ANSWER WHERE INQRY_ANSWER_ID = #{answerId})
    </update>

    <!--   DELETE -->
    <delete id="delete" parameterType="com.cherrydev.cherrymarketbe.inquiryAnswer.entity.InquiryAnswer">
        DELETE
        FROM INQRY_ANSWER
        WHERE INQRY_ANSWER_ID = #{answerId}
    </delete>


    <!--   SELECT -->
    <select id="findById" parameterType="Long" resultMap="inquiryAnswerMap">
        select *
        from INQRY_ANSWER
        where INQRY_ID = #{inquiryId}
    </select>

    <select id="findByUserId" parameterType="Long" resultMap="inquiryAnswerMap">
        select *
        from INQRY_ANSWER
        where INQRY_ID IN (SELECT INQRY.INQRY_ID FROM INQRY WHERE INQRY.ACNT_ID = #{userId})
    </select>

    <select id="findAll" resultMap="inquiryAnswerMap">
        select *
        from INQRY_ANSWER
        order by INQRY_ANSWER_ID = #{answerId}
    </select>

    <select id="findByEmail" parameterType="String" resultMap="inquiryAnswerMap">
        select *
        from INQRY_ANSWER
        where INQRY_ID IN (SELECT INQRY.INQRY_ID
                           FROM INQRY
                           JOIN ACNT ON INQRY.ACNT_ID = ACNT.ACNT_ID
                           WHERE ACNT_EMAIL = #{email})
    </select>

</mapper>
