<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cherrydev.cherrymarketbe.goodsReview.repository.GoodsReviewMapper">
    <resultMap id="GoodsReviewMapper" type="com.cherrydev.cherrymarketbe.goodsReview.entity.GoodsReview">
        <result property="reviewId" column="GOODS_REVW_ID"/>
        <result property="ordersId" column="ORDERS_ID"/>
        <result property="goodsId" column="GOODS_ID"/>
        <result property="userId" column="ACNT_ID"/>
        <result property="code" column="GOODS_REVW_CODE"/>
        <result property="isBest" column="GOODS_REVW_BEST_YN"/>
        <result property="subject" column="GOODS_REVW_SJ"/>
        <result property="content" column="GOODS_REVW_CN"/>
        <result property="status" column="GOODS_REVW_STTUS"/>
        <result property="createDate" column="CREAT_DE"/>
        <result property="deleteDate" column="DELETED_DE"/>
    </resultMap>
    <resultMap id="GoodsReviewInfoMapper" type="com.cherrydev.cherrymarketbe.goodsReview.dto.GoodsReviewInfoDto">
        <result property="reviewId" column="GOODS_REVW_ID"/>
        <result property="ordersId" column="ORDERS_ID"/>
        <result property="goodsId" column="GOODS_ID"/>
        <result property="userId" column="ACNT_ID"/>
        <result property="code" column="GOODS_REVW_CODE"/>
        <result property="isBest" column="GOODS_REVW_BEST_YN"/>
        <result property="subject" column="GOODS_REVW_SJ"/>
        <result property="content" column="GOODS_REVW_CN"/>
        <result property="status" column="GOODS_REVW_STTUS"/>
        <result property="createDate" column="CREAT_DE"/>
        <result property="deleteDate" column="DELETED_DE"/>
    </resultMap>

    <!--    INSERT   -->
    <insert id="save" useGeneratedKeys="true"
            parameterType="com.cherrydev.cherrymarketbe.goodsReview.entity.GoodsReview">
        <selectKey keyProperty="reviewId" keyColumn="GOODS_REVW_ID" resultType="Long" order="AFTER">
            SELECT MAX(GOODS_REVW_ID) FROM GOODS_REVW
        </selectKey>
        INSERT INTO GOODS_REVW
        (ORDERS_ID,GOODS_ID,GOODS_REVW_CODE,GOODS_REVW_BEST_YN,GOODS_REVW_SJ,GOODS_REVW_CN,GOODS_REVW_STTUS)
        VALUES (#{ordersId},#{goodsId},(select CONCAT('GRV',nextval('GOODS_REVIEW_SEQ')) from
        dual),#{isBest},#{subject},#{content},#{status})
    </insert>


    <!--    SELECT   -->
    <select id="existReview" resultType="java.lang.Boolean">
        select count(*)
        from GOODS_REVW
        where GOODS_REVW_ID in (select GOODS_REVW_ID
                                from GOODS_REVW
                                where ORDERS_ID = #{ordersId}
                                  AND GOODS_ID = #{goodsId})
          and GOODS_REVW_STTUS != 'DELETED'
    </select>

    <select id="getUserId" parameterType="Long" resultType="Boolean">
        SELECT count(*) > 0
        FROM ORDER_DETAIL
        WHERE ORDERS_ID = #{ordersId}
          AND GOODS_ID = #{goodsId}
          AND ACNT_ID = #{userId}
    </select>


    <select id="getUserIdByCode" resultType="Boolean">
        SELECT count(*) > 0
        FROM INQRY
        WHERE INQRY_CODE = #{code}
          AND ACNT_ID = #{userId}
          AND INQRY_CODE != 'DELETED'
    </select>


    <select id="checkDeliveryStatus" resultType="java.lang.Boolean">
        select count(*)
        from DLVY_DETAIL
        WHERE DLVY_STTUS = 'DELIVERED'
          AND ORDERS_ID = #{ordersId}
    </select>


    <select id="findReivew" parameterType="Long" resultMap="GoodsReviewMapper">
        SELECT GR.*, O.ACNT_ID
        FROM GOODS_REVW GR
                 JOIN ORDERS O ON GR.ORDERS_ID = O.ORDERS_ID
        WHERE GR.ORDERS_ID = #{ordersId}
          AND GR.GOODS_ID = #{goodsId}
          AND GR.GOODS_REVW_STTUS != 'DELETED'
    </select>


    <select id="findAll" resultMap="GoodsReviewInfoMapper">
        SELECT GR.*, O.ACNT_ID
        FROM GOODS_REVW GR
                 LEFT JOIN ORDERS O ON GR.ORDERS_ID = O.ORDERS_ID
        WHERE GR.GOODS_REVW_STTUS != 'DELETED'
        ORDER BY CASE WHEN GR.GOODS_REVW_BEST_YN = 'BEST' THEN 1 ELSE 2 END, GR.GOODS_REVW_ID
    </select>

    <select id="findAllByGoodsId" resultMap="GoodsReviewInfoMapper">
        SELECT GR.*, O.ACNT_ID
        FROM GOODS_REVW GR
                 LEFT JOIN ORDERS O ON GR.ORDERS_ID = O.ORDERS_ID
        WHERE GR.GOODS_ID = #{goodsId}
          AND GR.GOODS_REVW_STTUS != 'DELETED'
        ORDER BY CASE WHEN GR.GOODS_REVW_BEST_YN = 'BEST' THEN 1 ELSE 2 END, GR.GOODS_REVW_ID
    </select>

    <select id="findAllByOrderId" resultMap="GoodsReviewInfoMapper">
        SELECT GR.*, O.ACNT_ID
        FROM GOODS_REVW GR
                 LEFT JOIN ORDERS O ON GR.ORDERS_ID = O.ORDERS_ID
        WHERE GR.ORDERS_ID = #{ordersId}
          AND GR.GOODS_REVW_STTUS != 'DELETED'
        ORDER BY CASE WHEN GR.GOODS_REVW_BEST_YN = 'BEST' THEN 1 ELSE 2 END, GR.GOODS_REVW_ID
    </select>

    <select id="findAllByUserId" resultMap="GoodsReviewInfoMapper">
        SELECT GR.*, O.ACNT_ID
        FROM GOODS_REVW GR
                 LEFT JOIN ORDERS O ON GR.ORDERS_ID = O.ORDERS_ID
        WHERE GR.ORDERS_ID IN (SELECT ORDERS_ID FROM ORDER_DETAIL WHERE ACNT_ID = #{userId})
          AND GR.GOODS_REVW_STTUS != 'DELETED'
        ORDER BY CASE WHEN GR.GOODS_REVW_BEST_YN = 'BEST' THEN 1 ELSE 2 END, GR.GOODS_REVW_ID
    </select>

    <select id="findAllMyList" parameterType="Long" resultMap="GoodsReviewInfoMapper">
        SELECT *
        FROM GOODS_REVW
        WHERE GOODS_REVW.GOODS_REVW_STTUS != 'DELETED'
          AND GOODS_REVW.ORDERS_ID IN (
            SELECT ORDERS_ID
            FROM ORDERS
            WHERE ACNT_ID = #{userId}
        )
          AND GOODS_REVW.GOODS_REVW_ID IN (
            SELECT GOODS_REVW_ID
            FROM GOODS_REVW
            WHERE ORDERS_ID IN (
                SELECT ORDERS_ID
                FROM ORDERS
                WHERE ACNT_ID = #{userId}
            )
        )
        ORDER BY GOODS_REVW_ID
    </select>

    <!--    DELETE   -->
    <delete id="delete" parameterType="com.cherrydev.cherrymarketbe.goodsReview.entity.GoodsReview">
        UPDATE GOODS_REVW
        SET GOODS_REVW_STTUS = 'DELETED',
            DELETED_DE       = now()
        WHERE ORDERS_ID = #{ordersId}
          AND GOODS_ID = #{goodsId}
    </delete>

    <!--    UPDATE   -->
    <insert id="update" useGeneratedKeys="true"
            parameterType="com.cherrydev.cherrymarketbe.goodsReview.entity.GoodsReview">
        <selectKey keyProperty="reviewId" keyColumn="GOODS_REVW_ID" resultType="Long" order="AFTER">
            SELECT MAX(GOODS_REVW_ID) FROM GOODS_REVW
        </selectKey>
        INSERT INTO GOODS_REVW
        (ORDERS_ID,GOODS_ID,GOODS_REVW_CODE,GOODS_REVW_BEST_YN,GOODS_REVW_SJ,GOODS_REVW_CN,GOODS_REVW_STTUS)
        VALUES (#{ordersId},#{goodsId},#{code},#{isBest},#{subject},#{content},#{status})
    </insert>
</mapper>
