<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cherrydev.cherrymarketbe.account.repository.AccountMapper">
    <resultMap id="accountMap" type="com.cherrydev.cherrymarketbe.account.entity.Account">
        <result property="accountId" column="ACNT_ID"/>
        <result property="oauthId" column="ACNT_OAUTH_ID"/>
        <result property="registType" column="ACNT_REGIST_TYPE"/>
        <result property="name" column="ACNT_NM"/>
        <result property="email" column="ACNT_EMAIL"/>
        <result property="password" column="ACNT_PASSWORD"/>
        <result property="contact" column="ACNT_CTTPC"/>
        <result property="gender" column="ACNT_SEXDSTN"/>
        <result property="birthdate" column="ACNT_BRTH"/>
        <result property="userStatus" column="ACNT_STTUS"/>
        <result property="userRole" column="ACNT_ROLE"/>
        <result property="restrictedUntil" column="ACNT_USE_LMTT_DE"/>
        <result property="createdAt" column="CREAT_DE"/>
        <result property="updatedAt" column="UPDT_DE"/>
        <result property="deletedAt" column="DELETED_DE"/>
    </resultMap>
    <resultMap id="AdminUserInfoDtoMap" type="com.cherrydev.cherrymarketbe.admin.dto.AdminUserInfoDto">
        <result property="accountId" column="ACNT_ID"/>
        <result property="registType" column="ACNT_REGIST_TYPE"/>
        <result property="name" column="ACNT_NM"/>
        <result property="email" column="ACNT_EMAIL"/>
        <result property="contact" column="ACNT_CTTPC"/>
        <result property="gender" column="ACNT_SEXDSTN"/>
        <result property="birthdate" column="ACNT_BRTH"/>
        <result property="createdAt" column="CREAT_DE"/>
        <result property="userStatus" column="ACNT_STTUS"/>
        <result property="userRole" column="ACNT_ROLE"/>
    </resultMap>

    <!--    SELECT-->
    <select id="findAll" resultMap="AdminUserInfoDtoMap">
        select ACNT_ID,
               ACNT_REGIST_TYPE,
               ACNT_NM,
               ACNT_EMAIL,
               ACNT_CTTPC,
               ACNT_SEXDSTN,
               ACNT_BRTH,
               CREAT_DE,
               ACNT_ROLE,
               ACNT_STTUS
        from ACNT
        ORDER BY ACNT_ID
    </select>

    <select id="findByaccountId" resultMap="accountMap">
        select *
        from ACNT
        where ACNT_ID = #{accountId}
    </select>

    <select id="findByEmail" resultMap="accountMap">
        select *
        from ACNT
        where ACNT_EMAIL = #{email}
    </select>

    <select id="existByEmail" resultType="java.lang.Boolean">
        select count(*)
        from ACNT
        where ACNT_EMAIL = #{email}
    </select>

    <select id="existByEmailAndRegistType" resultType="java.lang.Boolean">
        select count(*)
        from ACNT
        where ACNT_EMAIL = #{email}
          and ACNT_REGIST_TYPE = #{registType}
    </select>

    <!--    INSERT-->
    <insert id="save" useGeneratedKeys="true" parameterType="com.cherrydev.cherrymarketbe.account.entity.Account">
        <selectKey keyProperty="accountId" keyColumn="ACNT_ID" resultType="Long" order="AFTER">
            select last_insert_id()
        </selectKey>
        insert into ACNT (ACNT_EMAIL, ACNT_PASSWORD, ACNT_NM, ACNT_CTTPC, ACNT_SEXDSTN, ACNT_BRTH, ACNT_REGIST_TYPE,
        ACNT_ROLE, ACNT_STTUS)
        values (#{email}, #{password}, #{name}, #{contact}, #{gender}, #{birthdate}, #{registType}, #{userRole},
        #{userStatus})
    </insert>

    <!--    UPDATE-->
    <update id="updateAccountInfo" parameterType="com.cherrydev.cherrymarketbe.account.entity.Account">
        UPDATE ACNT
        <set>
            <if test="password != null">ACNT_PASSWORD = #{password},</if>
            <if test="contact != null">ACNT_CTTPC = #{contact},</if>
            <if test="birthdate != null">ACNT_BRTH = #{birthdate},</if>
        </set>
        WHERE ACNT_EMAIL = #{email}
    </update>

    <update id="updateAccountRole" parameterType="com.cherrydev.cherrymarketbe.account.entity.Account">
        UPDATE ACNT
        SET ACNT_ROLE = #{userRole}
        WHERE ACNT_EMAIL = #{email}
    </update>

    <update id="updateAccountStatus" parameterType="com.cherrydev.cherrymarketbe.account.entity.Account">
        UPDATE ACNT
        SET ACNT_STTUS       = #{userStatus},
            ACNT_USE_LMTT_DE = #{restrictedUntil}
        WHERE ACNT_EMAIL = #{email}
    </update>

    <!--    DELETE-->
    <delete id="delete" parameterType="com.cherrydev.cherrymarketbe.account.entity.Account">
        UPDATE ACNT
        SET ACNT_STTUS = 'DELETED',
            DELETED_DE = now()
        WHERE ACNT_ID = #{accountId}
    </delete>

    <!--    PROCEDURE-->
    <update id="deleteInactiveAccount" statementType="CALLABLE">
        {CALL DeleteInactiveAccount()}
    </update>

    <update id="releaseRestrictedAccount" statementType="CALLABLE">
        {CALL ReleaseRestrictedAccount()}
    </update>

</mapper>
