<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cherrydev.cherrymarketbe.server.infrastructure.repository.CustomerCouponMapper">
    <resultMap id="customerCouponMap" type="com.cherrydev.cherrymarketbe.server.domain.customer.entity.CustomerCoupon">
        <result property="couponId" column="COUPON_ID"/>
        <result property="accountId" column="ACNT_ID"/>
        <result property="isUsed" column="COUPON_USE_YN"/>
        <result property="usedAt" column="COUPON_USE_DE"/>
        <result property="orderId" column="ORDER_ID"/>
        <result property="createdAt" column="CREAT_DE"/>
        <result property="updatedAt" column="UPDT_DE"/>
    </resultMap>

    <insert id="save" parameterType="com.cherrydev.cherrymarketbe.server.domain.customer.entity.CustomerCoupon">
        INSERT INTO CSTMR_COUPON (COUPON_ID,
                                  ACNT_ID)
        VALUES (#{couponId},
                #{accountId})
    </insert>

    <select id="findAllByAccountId" parameterType="java.lang.Long" resultMap="customerCouponMap">
        SELECT *
        FROM CSTMR_COUPON
        WHERE ACNT_ID = #{accountId}
    </select>

    <select id="existByCouponIdAndAccountId" resultType="java.lang.Boolean">
        SELECT COUNT(*) > 0
        FROM CSTMR_COUPON
        WHERE COUPON_ID = #{couponId}
          AND ACNT_ID = #{accountId}
    </select>
</mapper>
