<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cherrydev.cherrymarketbe.customer.repository.CustomerAddressMapper">
    <resultMap id="addressMap" type="com.cherrydev.cherrymarketbe.customer.entity.CustomerAddress">
        <result property="addressId" column="CSTMR_ADRES_ID"/>
        <result property="accountId" column="ACNT_ID"/>
        <result property="isDefault" column="CSTMR_ADRES_BASS_YN"/>
        <result property="name" column="CSTMR_ADRES_NM"/>
        <result property="zipCode" column="CSTMR_ADRES_ZIP"/>
        <result property="address" column="CSTMR_ADRES_RDNMADR"/>
        <result property="addressDetail" column="CSTMR_ADRES_DETAIL"/>
        <result property="createdAt" column="CREAT_DE"/>
        <result property="deletedAt" column="DELETED_DE"/>
    </resultMap>
    <resultMap id="addressInfoDtoMap" type="com.cherrydev.cherrymarketbe.customer.dto.address.AddressInfoDto">
        <result property="addressId" column="CSTMR_ADRES_ID"/>
        <result property="isDefault" column="CSTMR_ADRES_BASS_YN"/>
        <result property="name" column="CSTMR_ADRES_NM"/>
        <result property="zipcode" column="CSTMR_ADRES_ZIP"/>
        <result property="address" column="CSTMR_ADRES_RDNMADR"/>
        <result property="addressDetail" column="CSTMR_ADRES_DETAIL"/>
        <result property="createdAt" column="CREAT_DE"/>
    </resultMap>

    <insert id="save" parameterType="com.cherrydev.cherrymarketbe.customer.entity.CustomerAddress">
        INSERT INTO CSTMR_ADRES (ACNT_ID,
                                 CSTMR_ADRES_BASS_YN,
                                 CSTMR_ADRES_NM,
                                 CSTMR_ADRES_ZIP,
                                 CSTMR_ADRES_RDNMADR,
                                 CSTMR_ADRES_DETAIL)
        VALUES (#{accountId},
                #{isDefault},
                #{name},
                #{zipCode},
                #{address},
                #{addressDetail})
    </insert>

    <update id="update" parameterType="com.cherrydev.cherrymarketbe.customer.entity.CustomerAddress">
        UPDATE CSTMR_ADRES
        <set>
            <if test="isDefault != null">
                CSTMR_ADRES_BASS_YN = #{isDefault},
            </if>
            <if test="name != null">
                CSTMR_ADRES_NM = #{name},
            </if>
            <if test="zipCode != null">
                CSTMR_ADRES_ZIP = #{zipCode},
            </if>
            <if test="address != null">
                CSTMR_ADRES_RDNMADR = #{address},
            </if>
            <if test="addressDetail != null">
                CSTMR_ADRES_DETAIL = #{addressDetail},
            </if>
        </set>
        WHERE
        CSTMR_ADRES_ID = #{addressId}
    </update>

    <delete id="delete" parameterType="com.cherrydev.cherrymarketbe.customer.entity.CustomerAddress">
        DELETE
        FROM CSTMR_ADRES
        WHERE CSTMR_ADRES_ID = #{addressId}
          AND ACNT_ID = #{accountId}
    </delete>

    <delete id="deleteAllByAccountId" parameterType="com.cherrydev.cherrymarketbe.account.entity.Account">
        DELETE
        FROM CSTMR_ADRES
        WHERE ACNT_ID = #{accountId}
    </delete>

    <select id="findAllByAccountId" resultMap="addressInfoDtoMap">
        SELECT *
        FROM CSTMR_ADRES
        WHERE ACNT_ID = #{accountId}
    </select>

    <select id="countAllByAccountId" resultType="int">
        SELECT COUNT(CSTMR_ADRES_ID)
        FROM CSTMR_ADRES
        WHERE ACNT_ID = #{accountId}
    </select>

    <select id="findByIdAndAccountId" resultMap="addressMap">
        SELECT *
        FROM CSTMR_ADRES
        WHERE ACNT_ID = #{accountId}
          AND CSTMR_ADRES_ID = #{addressId}
    </select>

    <select id="existByAccountIdAndIsDefault" resultType="java.lang.Boolean"
            parameterType="com.cherrydev.cherrymarketbe.customer.entity.CustomerAddress">
        SELECT EXISTS(SELECT 1
                      FROM CSTMR_ADRES
                      WHERE ACNT_ID = #{accountId}
                        AND CSTMR_ADRES_BASS_YN = TRUE)
    </select>

    <select id="findDefaultByAccountId" resultMap="addressMap">
        SELECT *
        FROM CSTMR_ADRES
        WHERE ACNT_ID = #{accountId}
          AND CSTMR_ADRES_ID = #{addressId}
          AND CSTMR_ADRES_BASS_YN = TRUE
    </select>

</mapper>
